.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
  border-radius: 10px; /* Añade bordes redondeados al contenedor */
}

h2 {
  margin-bottom: 20px;
  color: #333; /* Cambia el color del título si lo deseas */
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Cambia el color de las etiquetas si lo deseas */
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
  padding: 10px; /* Aumenta el tamaño del padding para hacer los campos de entrada más grandes */
  border: 2px solid #007bff; /* Cambia el color del borde del campo de entrada */
  border-radius: 5px; /* Añade bordes redondeados al campo de entrada */
  outline: none; /* Elimina el contorno al hacer clic en el campo de entrada */
}

.input-container input:focus {
  border-color: #00ccff; /* Cambia el color del borde cuando el campo de entrada está enfocado */
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px; /* Aumenta el espacio entre la imagen y el botón */
  border-radius: 50%; /* Hace que la imagen sea circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
}

.image-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambiar el color de fondo */
}

.image-container button:hover {
  background-color: #0056b3; /* Cambia el color de fondo cuando el cursor pasa por encima */
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons-container button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al cambiar el color de fondo */
}

.buttons-container button:hover {
  background-color: #c82333; /* Cambia el color de fondo cuando el cursor pasa por encima */
}

.update-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

/* Agrega más estilos si es necesario */
